[alias]
  summit-rc = "!f() { git switch production; git sync; git switch --create "${1}-rc"; TITLE=$(echo "${1}" | sed -e 's/-/ /g' | awk '{for(i=1;i<=NF;i++){ $i=toupper(substr($i,1,1)) substr($i,2) }}1'); git merge --no-edit --no-ff origin/$(git trunk-branch) && git publish && git pr create --web --base=production --title="\"${TITLE} RC\""; }; f"
